body {
  text-align: center;
}

.tableStyles {
  border-collapse: collapse;
  margin: 200px auto 10px;
}

.cellStyles {
  border: 1px solid red;
  padding: 8px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  font-size: 30px;
}
